<!DOCTYPE html>
<html lang="en">
<head itemscope="" itemtype="http://schema.org/WebSite">
    <title itemprop="name">Niimanga.net Read Manga Online - Free Download</title>
    <meta name="google-site-verification" content="FzQopyckxKtbbqgfhuWqTfTjd4emmUlwIYHYbBZNkR4">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="${request.static_url('niimanga:public/res/Niimanga.ico')}" type="image/x-icon">
    <link rel="shortcut icon" href="${request.static_url('niimanga:public/res/Niimanga.ico')}" type="image/x-icon">
    <meta name="description" content="Read 16.000+ newest manga online including color version from all over the world. Only in Niimanga you can find best collection of manga on the planet" >
    <meta property="og:locale" content="en_US" >
    <meta property="og:type" content="article" >
    <meta property="og:title" content="Niimanga.net Read Manga Online - Free Download" >
    <meta property="og:description" content="Read 16.000+ newest manga online including color version from all over the world. Only in Niimanga you can find best collection of manga on the planet" >
    <meta property="og:url" content="http://www.niimanga.net" >
    <meta property="og:site_name" content="Niimanga.net" >
    <meta property="og:image" content="${request.static_url('niimanga:public/res/share.png')}">
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:description" content="Read 16.000+ newest manga online including color version from all over the world. Only in Niimanga you can find best collection of manga on the planet" >
    <meta name="twitter:title" content="Niimanga.net Read Manga Online - Free Download" >
    <meta name="twitter:domain" content="http://www.niimanga.net" >
    <meta name="twitter:image" content="${request.static_url('niimanga:public/res/share.png')}">
    <meta name="twitter:site" content="@niimanga" >
    <meta name="twitter:creator" content="@niimanga" >
    <meta name="fragment" content="!">
    <link rel="canonical" href="http://www.niimanga.net" >
    <link rel="alternate" href="http://www.niimanga.net/" >
    <link rel="publisher" href="https://plus.google.com/109363191390818524400" >
    <link rel="author" href="Niimanga.net" >
    <link itemprop="url" href="http://www.niimanga.net">
    <meta property="fb:app_id" content="844212729007674">
</head>
<body>
<h1>Niimanga.net Read Manga Online - Free Download</h1>
<div class="row">
    <div class="manga-list">
        <div><a href="http://www.niimanga.net/latest">Read Latest Manga Online</a></div>
        <div><a href="http://www.niimanga.net/popular">Read Most Popular Manga Online</a></div>
        <div class="title-green">Read Manga Online List</div>
        % for series in cards:
        <div>
            <a href="http://www.niimanga.net/manga/${series['origin']}">Read Manga ${series['name']} Online</a>
            <div>${series['time']}</div>
            <div>
                <a href="http://www.niimanga.net/chapter/${series['last_url']}">${series['last_chapter']}</a>
            </div>
        </div>
        % endfor
    </div>
</div>
</body>
</html>